.Pokecard {
    display: inline-block;
    width: 8em;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color: lightyellow;
    border-radius: 10px;
}

.Pokecard-title {
    color: blue;
    font-weight: bold;
}

.Pokecard-data {
    font-size: 80%;
}